package {{classVarName}}


{{#alloperations}}
{{#operations}}
import (
	"github.com/gophercloud/gophercloud"
{{#imports}}	"{{import}}"
{{/imports}}
)
{{#operation}}

func {{{nickname}}}URL(c *gophercloud.ServiceClient{{#pathParams}}{{^vendorExtensions.x-isProject}}, {{{paramName}}} {{dataType}}{{/vendorExtensions.x-isProject}}{{/pathParams}}) string {
	return c.ServiceURL({{#vendorExtensions.x-resourcePath}}"{{{vendorExtensions.x-resourcePath}}}"{{/vendorExtensions.x-resourcePath}}{{#pathParams}}{{^vendorExtensions.x-isProject}}, {{{paramName}}}{{/vendorExtensions.x-isProject}}{{/pathParams}}{{#vendorExtensions.x-originPath}}, "{{{vendorExtensions.x-originPath}}}"{{/vendorExtensions.x-originPath}})
}
{{/operation}}
{{/operations}}
{{/alloperations}}
