{{>licenseInfo}}

package {{packagename}};

import com.google.common.base.Function;

import com.huawei.openstack4j.api.types.ServiceType;
import com.huawei.openstack4j.openstack.internal.BaseOpenStackService;

public class {{apiBaseClassName}} extends BaseOpenStackService {

    protected {{apiBaseClassName}}() {
    	super(ServiceType.{{serviceType}});
    }
    
    public {{apiBaseClassName}}(ServiceType serviceType, Function<String, String> endpointFunc) {
        super(serviceType, endpointFunc);
    }
}
